# Django specific
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/
posted

# Environment variables
.env

# Static files
staticfiles/

# Local development settings
local_settings.py

# macOS
.DS_Store

# Windows
Thumbs.db

sensor_id.txt
location.txt