<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SENS - sensor data</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@2.29.4/min/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment@1.0.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@1.0.0"></script>
    <style>
        #chart-container {
            width: 80%;
            margin: auto;
            padding-top: 20px;
        }

        h2 {
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>SENS - sensor data for {% if single_sensor %}"{{ sensor_ids.0 }}"{% else %}multiple sensors{% endif %}</h1>

    <form method="get" action="">
        <p>
            Either define start/end time, or choose a time range. Start/end time has priority over time range.
            Rea-time data updates will only work in time range mode
        </p>
        <label for="start_time">Start Time:</label>
        <input type="datetime-local" id="start_time" name="start_time" value="{{ start_time|date:'Y-m-d\\TH:i' }}">
        <label for="end_time">End Time:</label>
        <input type="datetime-local" id="end_time" name="end_time" value="{{ end_time|date:'Y-m-d\\TH:i' }}">
        <br>
        <label for="time_range">Time Range:</label>
        <select id="time_range" name="time_range" >
            
            {% for value, label in time_range_options %}
                <option value="{{ value }}" {% if value == time_range %}selected{% endif %}>{{ label }}</option>
            {% endfor %}
        </select>
        <label for="real_time">Real-time updates:</label>
        <input type="checkbox" id="real_time" name="real_time" {% if real_time %}checked{% endif %}>
        {% if not single_sensor %}
        <br>
        <label for="sensors">Available sensors (in the time range):</label>
        <div id="sensors">
            {% for sensor_id in available_sensor_ids %}
                <input type="checkbox" id="sensor_{{ sensor_id }}" name="sensors" value="{{ sensor_id }}" {% if sensor_id in sensor_ids %}checked{% endif %}>
                <label for="sensor_{{ sensor_id }}">{{ sensor_id }}</label>
            {% endfor %}
        </div>
        {% else %}
        <br>
        {% endif %}
        <button type="submit">Update graphs!</button>
    </form>

    <div id="chart-container">
        <button id="reset-zoom-button" disabled>Reset Zoom</button>
        <div id="sensorCharts"></div>
    </div>


    <script type="text/javascript">
        const sensorIds = {{ sensor_ids|safe }};
        const sensorChartsWrapper = document.getElementById('sensorCharts');
        const resetZoomButton = document.getElementById('reset-zoom-button');
        const colors = ['blue', 'red', 'green', 'orange', 'purple', 'brown', 'pink', 'gray', 'cyan', 'magenta', 'yellow', 'black'];
        const pointStyles = ['circle', 'cross', 'crossRot', 'dash', 'line', 'rect', 'rectRounded', 'rectRot', 'star', 'triangle'];
        const allCharts = [];
            
        function makeChart(chartTitle, dataMappings, y_min, y_max, y_label) {
            const chartCanvas = document.createElement('canvas');
            const datasets = []
            let k = 0;
            let i = 0;
            sensorIds.forEach(function(sensorId) {
                dataMappings.forEach(function(mapping) {
                    datasets.push({ 
                        label: sensorId + '-' + mapping.label, 
                        data: [], 
                        borderColor: mapping.color ? mapping.color: colors[k%colors.length], 
                        fill: false,
                        borderDash: mapping.dash ? [5, 1]: [0, 0],
                        pointStyle: pointStyles[i % pointStyles.length], // Assign point style
                        pointRadius: 5,
                        dataMapping: mapping,
                        sensorId: sensorId});
                    k += 1;
                });
                i += 1;
            });

            const chart = new Chart(chartCanvas.getContext('2d'), {
                type: 'line',
                data: {
                    datasets: datasets
                },
                options: {
                    scales: {
                        x: {
                            type: 'time',
                            time: {
                                unit: 'minute'
                            },
                            title: {
                                display: true,
                                text: 'Time'
                            }
                        },
                        y: {
                            min: y_min,
                            max: y_max,
                            title: {
                                display: true,
                                text: y_label
                            }
                        }
                    },
                    animation: {
                        duration: 0
                    },
                    plugins: {
                        legend: {
                            labels: {
                                usePointStyle: true,
                            },
                        },
                        zoom: {
                            pan: {
                                enabled: true,
                                mode: 'x',
                            },
                            zoom: {
                                wheel: {
                                    enabled: true,
                                    modifierKey: 'alt',
                                    mode: 'x',
                                },
                                drag: {
                                    enabled: true,
                                },
                                onZoomStart: e => e.point.x > e.chart.chartArea.left && e.point.x < e.chart.chartArea.right && e.point.y > e.chart.chartArea.top && e.point.y < e.chart.chartArea.bottom
                            }
                        }
                    }
                }
            });
            chart.isZommed = false;
            chart.options.plugins.zoom.zoom.onZoom = function({chart}) {
                chart.isZommed = true;
                resetZoomButton.disabled = false;
                
                allCharts.forEach(function(targetChart) {  // when zooming in one chart, also set new time range for the other charts
                    if (targetChart !== chart) {
                        targetChart.isZommed = true;
                        targetChart.options.scales.x.min = chart.options.scales.x.min;
                        targetChart.options.scales.x.max = chart.options.scales.x.max;
                        targetChart.update();
                    }
                });

            };
            const chartTitleElement = document.createElement('h2');
            chartTitleElement.textContent = chartTitle;
            sensorChartsWrapper.appendChild(chartTitleElement);
            sensorChartsWrapper.appendChild(chartCanvas);
            allCharts.push(chart);
            return chart;
        }

        function adjustChartTimeScale(chart) {
            const startAndEndTime = getStartAndEndTime();
            const startTime = startAndEndTime[0];
            const endTime = startAndEndTime[1];
            chart.options.scales.x.min = startTime;
            chart.options.scales.x.max = endTime;
        }

        function resetChartZoom(chart) {
            resetZoomButton.disabled = true;
            chart.isZommed = false;
            chart.resetZoom();
            adjustChartTimeScale(chart);
            chart.update();
        }

        resetZoomButton.onclick = function() {
            allCharts.forEach(function(chart) {
                resetChartZoom(chart);
            });
        };

        function getStartAndEndTime() {
            {% if time_range_mode %}
            const currentTime = new Date();
            return [new Date(currentTime - document.getElementById("time_range").value * 60 * 1000),  currentTime];
            {% else %}
            return [new Date(document.getElementById("start_time").value), new Date(document.getElementById("end_time").value)];
            {% endif %}
        }
      
        // Function to fetch data and update the chart
        function fetchSensorData() {
            // Define current start and end time
            const startAndEndTime = getStartAndEndTime();
            const startTime = startAndEndTime[0];
            const endTime = startAndEndTime[1];

            // Update charts time axis
            allCharts.forEach(function(chart) {
                if (chart.isZommed !== true){
                    adjustChartTimeScale(chart);
                }
            });
            
            // Loop through each sensor ID and fetch data
            sensorIds.forEach(function (sensorId) {
                fetchIndividualSensorData(sensorId, startTime, endTime);
            });
        }

        async function fetchIndividualSensorData(sensorId, startTime, endTime) {
            const apiUrl = "{{ api_endpoint_url }}" + sensorId + '/time-range/?start_date=' + startTime.toISOString() + '&end_date=' + endTime.toISOString();
            try {
                const response = await fetch(apiUrl);
                const data = await response.json();
                updateChartsFromSensorData(sensorId, data);
                
            } catch (error) {
                console.error("Error fetching sensor data:", error);
            }
        }

        function getValueFromPath(obj, path) {
            const keys = path.split('.');
            let value = obj;
            for (const key of keys) {
                value = value[key];
                if (value === undefined) {
                    return undefined;
                }
            }
            return value;
        }

        function updateChartsFromSensorData(sensorId, data) {
            allCharts.forEach(function(chart) {
                chart.data.datasets.forEach(function(dataset) {
                    if (dataset.sensorId !== sensorId) {
                        return;
                    }
                    const dataMapping = dataset.dataMapping;
                    try {
                        const dataPreparedForUpdate = data.map(function(item) {
                            return { x: new Date(item.sensor_timestamp), y: getValueFromPath(item.data, dataMapping.dataPath) };
                        });
                        updateChartDataset(chart, dataset.label, dataPreparedForUpdate);
                    } catch (error) {
                        console.log("Error updating chart dataset:", dataset.label, error);
                    }
                });
            });           
        }

        // Function to update chart dataset data
        function updateChartDataset(chart, datasetLabel, dataPreparedForUpdate) {
            const datasetIndex = chart.data.datasets.findIndex(function(dataset) {return dataset.label === datasetLabel});
            if (datasetIndex === -1) {
                console.error("Dataset not found in chart:", datasetLabel);
                return;
            }
            // Update chart data
            chart.data.datasets[datasetIndex].data = dataPreparedForUpdate;
            chart.update();
        }

        // Make charts
        {% for chart in charts %}
            makeChart("{{chart.title}}", [
                {% for variable in chart.data %}
                    {label: '{{ variable.label }}', dataPath: '{{ variable.data_path }}', color: '{{ variable.color }}'},
                {% endfor %}
            ], {{ chart.y_min }}, {{ chart.y_max }}, '{{ chart.y_unit }}');
        {% endfor %}

        // When page loads, fetch sensor data
        fetchSensorData();

        // Trigger real-time updates is in real-time mode
        {% if real_time_mode %}
            setInterval(fetchSensorData, 5000);
        {% endif %}
    </script>
</body>
</html>